@media only screen and (max-width: 418px){
/**** NAVBAR*****/
.navbar-brand {
    margin-left: 0px; 
}
.form-control, .btn-outline-success{
    display: none;
}
.navbar-nav{   /****************??????????????????*********/
    position: absolute;
    right: 100px;
}
/**** NAVBAR*****/
/***********HEADER**********/
.header {
    height: 100vh;
    /* background-image: url(../img/header-ohne-txt.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.header-title {
font-family: 'Montserrat', sans-serif;
letter-spacing: 4px;
color: #fbf6f4;
font-size: large;
padding: 0;
}
.header-btn {
padding: 8px 20px;
margin-top: 10px;
margin-left: 0;
} 
/***********HEADER**********/
/**********CONTENT*********/

.cat-box {
    padding: 480px 0 300px 0;
}
.content {
    padding: 80px 0 80px 0;
}
.display-res{
    display: none;
}
.display-main{
    display: inline;
    text-decoration: none;
    padding: 9px 25px 10px 21px;
    border-radius: 20px;
}

/**********CONTENT*********/




/**********FOOTER***********/
.footer-box {
    padding-top: 9px;
    flex-direction: column;
}
.footer {
    height: 95vh;
}
.footer-title {
    padding: 26px 0px 15px 0;
}
p {
    margin-top: 0;
    margin-bottom: 59px;
    margin-top: 50px;
}
/**********FOOTER***********/





}
